﻿@{
    ViewBag.Title = "Home Page";
}

<div style="width: 100%">
    <h1 class="title" style="margin-bottom: 5%">Home</h1>
    <p style="margin-left: 20%; width: 60%">Quotes is a website for storing any important quotes or notes or information that would be for school or simply personal areas of reasearch.
    This website provides a place for storing those quotes or notes from anywhere in the world and provides the ability to easily search for them.</p>
    <p style="margin-left: 20%; width: 60%">Have an account procceed to the <a href="/User/Login">login page</a> to log in.</p>
    <p style="margin-left: 20%; width: 60%">Want to sign up? Proceed to the <a href="/User/Registration">registration page</a> to get started.</p>
</div>