﻿@model Quotes.Models.QuoteModel
@{
    ViewBag.Title = "CreateQuote";
}

<span>
    <h5 style="text-align:center" class="text-info">@ViewBag.Message</h5>
</span>

<div>
    <h2 class="title">Create Quote</h2>
    <div>
        @using (Html.BeginForm("CreateQuote", "Quote", FormMethod.Post))
        {
            <div>
                @Html.ValidationMessageFor(model => Model.Author, "", new { @class = "text-danger" })
                <br />
                @Html.LabelFor(model => Model.Author, new { @class = "form-label" })
                @Html.TextBoxFor(model => Model.Author, new { @class = "form-control" })
            </div>
            <div>
                <br />
                @Html.LabelFor(model => Model.Reference, new { @class = "form-label" })
                @Html.TextAreaFor(model => Model.Reference, new { @class = "form-control" })
            </div>
            <div>
                @Html.ValidationMessageFor(model => Model.QuoteText, "", new {@class = "text-danger"})
                <br />
                @Html.LabelFor(model => Model.QuoteText, new { @class = "form-label" })
                @Html.TextAreaFor(model => Model.QuoteText, new { @class = "form-control", @rows = 5 })
            </div>
            <div>
                <br />
                @Html.LabelFor(model => Model.Notes, new { @class = "form-label" })
                @Html.TextAreaFor(model => Model.Notes, new { @class = "form-control", @rows = 5 })
            </div>
            <br />
            <span>
                <input type="submit" value="Create" class="btn btn-primary" style="float: right; width: 120px;"/>
                <input type="reset" value="Cancel" onclick="location.href='/Quote/ListQuotes'" class="btn btn-secondary" style="float: right; width: 120px; margin-right: 25px;"/>
            </span>
        }
    </div>
</div>