﻿@model Quotes.Models.QuoteModel
@{
    ViewBag.Title = "EditQuote";
}

<span>
    <h5 style="text-align:center;" class="text-info"></h5>
</span>

<div>
    <h2 class="title">EditQuote</h2>
    <div>
        @using (Html.BeginForm("EditQuoteFunction", "Quote", FormMethod.Post))
        {
            <div>
                @Html.ValidationMessageFor(model => Model.Author, "", new { @class = "text-danger" })
                <br />
                @Html.LabelFor(model => Model.Author, new { @class = "form-label" })
                @Html.TextBoxFor(model => Model.Author, new { @class = "form-control" })
            </div>
            <div>
                <br />
                @Html.LabelFor(model => Model.Reference, new { @class = "form-label" })
                @Html.TextAreaFor(model => Model.Reference, new { @class = "form-control" })
            </div>
            <div>
                @Html.ValidationMessageFor(model => Model.QuoteText, "", new { @class = "text-danger" })
                <br />
                @Html.LabelFor(model => Model.QuoteText, new { @class = "form-label" })
                @Html.TextAreaFor(model => Model.QuoteText, new { @class = "form-control", @rows = 5 })
            </div>
            <div>
                <br />
                @Html.LabelFor(model => Model.Notes, new { @class = "form-label" })
                @Html.TextAreaFor(model => Model.Notes, new { @class = "form-control", @rows = 5 })
            </div>
            <div>
                @Html.HiddenFor(model => Model.QuoteId)
            </div>
            <br />
            <span>
                <input type="submit" value="Edit" class="btn btn-primary" style="float: right; width: 120px;"/>
                <input type="reset" value="Cancel" class="btn btn-secondary" onclick="location.href = '/Quote/ListQuotes'" style="float:right; width: 120px; margin-right: 25px;" />
            </span>
        }
    </div>
</div>