﻿@model System.Collections.Generic.List<Quotes.Models.QuoteModel>
@{
    ViewBag.Title = "ListQuotes";
}

<span>
    <h5 style="text-align: center;" class="text-info">@ViewBag.Message</h5>
</span>

<h2 class="title">Quotes</h2>


<br />
<div>
    @using (Html.BeginForm("SearchQuotes", "Quote", FormMethod.Post))
    {
        @Html.TextBox("searchString", "", new { @style = "width: 90%; margin-top: 3px;" })
        <input type="submit" value="Search" class="btn btn-primary" style="float:right; width: 120px;"/>
    }
</div>
<br />

@using (Html.BeginForm("CreateQuote", "Quote", FormMethod.Get))
{
    <input type="submit" class="btn btn-primary" value="Create Quote" style="float:right; width: 120px;"/>
}
<br />
<br />
<table class="table">
    <thead>
        <tr class="d-table-row">
            <th class="d-lg-table-cell">Author</th>
            <th class="d-lg-table-cell">Reference</th>
            <th class="d-lg-table-cell">Quote</th>
            <th class="d-lg-table-cell">View</th>
            <th class="d-lg-table-cell">Edit</th>
            <th class="d-lg-table-cell">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Quotes.Models.QuoteModel quote in @Model)
        {
            <tr class="d-table-row">
                <td class="d-lg-table-cell">@quote.Author</td>
                <td class="d-lg-table-cell">@quote.Reference</td>
                <td class="d-lg-table-cell">@quote.StartOfQuote()</td>
                <td class="d-lg-table-cell">
                    @using (Html.BeginForm("ViewQuote", "Quote", FormMethod.Post))
                    {
                        @Html.HiddenFor(model => quote.QuoteId)
                        <input type="submit" value="View" style="width: 60px;"/>
                    }
                </td>
                <td class="d-lg-table-cell">
                    @using (Html.BeginForm("EditQuote", "Quote", FormMethod.Post))
                    {
                        @Html.HiddenFor(model => quote.QuoteId)
                        <input type="submit" value="Edit" style="width: 60px;"/>
                    }
                </td>
                <td class="d-lg-table-cell">
                    @using (Html.BeginForm("DeleteQuote", "Quote", FormMethod.Post))
                    {
                        @Html.HiddenFor(model => quote.QuoteId)
                        <input type="submit" value="Delete" style="width: 60px;"/>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>