﻿@model Quotes.Models.QuoteModel
@{
    ViewBag.Title = "ViewQuote";
}


<div>
    <h2 class="title">ViewQuote</h2>
    <div style="margin-left: 15%; margin-right: 15%;">
        <div>
            <br />
            @Html.LabelFor(model => Model.Author, new { @class = "form-label" })
            @Html.TextBoxFor(model => Model.Author,"", new { @class = "form-control", @disabled = "true" })
        </div>
        <div>
            <br />
            @Html.LabelFor(model => Model.Reference, new { @class = "form-label" })
            @Html.TextBoxFor(model => Model.Reference, "", new { @class = "form-control", @disabled = "true" })
        </div>
        <div>
            <br />
            @Html.LabelFor(model => Model.QuoteText, new { @class = "form-label" })
            @Html.TextAreaFor(model => Model.QuoteText, new { @class = "form-control", @disabled = "true", @rows=5 })
        </div>
        <div>
            <br />
            @Html.LabelFor(model => Model.Notes, new { @class = "form-label" })
            @Html.TextAreaFor(model => Model.Notes, new { @class = "form-control", @disabled = "true", @rows = 5 })
        </div>
        @using (Html.BeginForm("EditQuote", "Quote", FormMethod.Post))
        {
            @Html.HiddenFor(model => Model.QuoteId)
            <br />
            <span>
                <input type="submit" value="Edit" class="btn btn-primary" style="float: right; width: 120px;"/>
                <input type="reset" value="Cancel" class="btn btn-secondary" style="float: right; width: 120px; margin-right: 25px;" onclick="location.href='/Quote/ListQuotes'" />
            </span>
        }
    </div>
</div>