﻿@model Quotes.Models.UserModel 
@{
    ViewBag.Title = "Registration";
}

<script type="text/javascript">
    function doPasswordsMatch() {
        var password = document.getElementById("password").value;
        var verifyPassword = document.getElementById("verifyPassword").value;

        if (password === verifyPassword) {
            document.getElementById("passwordMatchErrMsg").style = "visibility: hidden";
            document.getElementById("submitBtn").disabled = false;
        } else {
            document.getElementById("passwordMatchErrMsg").style = "visibility: visible";
            document.getElementById("submitBtn").disabled = true;
        }
    }
</script>

<span>
    <h5 style="text-align: center;" class="text-info">@ViewBag.Message</h5>
</span>

<div style="width: 50%; margin-left: 25%;">
    <h2 class="title">Registration</h2>
    <br />
    @using(Html.BeginForm("Registration", "User", FormMethod.Post))
    {
        <div>
            @Html.ValidationMessageFor(model => Model.Username, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(model => Model.Username, new { @class = "form-label" })
            @Html.TextBoxFor(model => Model.Username, new { @class = "form-control" })
        </div>
        <div>
            @Html.ValidationMessageFor(model => Model.FirstName, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(model => Model.FirstName, new { @class = "form-label" })
            @Html.TextBoxFor(model => Model.FirstName, new { @class = "form-control" })
        </div>
        <div>
            @Html.ValidationMessageFor(model => Model.LastName, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(model => Model.LastName, new { @class = "form-label" })
            @Html.TextBoxFor(model => Model.LastName, new { @class = "form-control" })
        </div>
        <div>
            @Html.ValidationMessageFor(model => Model.EmailAddress, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(model => Model.EmailAddress, new { @class = "form-label" })
            @Html.TextBoxFor(model => Model.EmailAddress, new { @class = "form-control" })
        </div>
        <div>
            @Html.ValidationMessageFor(model => Model.Password, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(model => Model.Password, new { @class = "form-label" })
            @Html.PasswordFor(model => Model.Password, new { @class = "form-control", @id="password", @oninput = "doPasswordsMatch()" })
        </div>
        <div>
            @Html.Label("Passwords do not match", new {@class="text-danger", @style="visibility: hidden;", @id="passwordMatchErrMsg" })
            <br />
            @Html.Label("Verify Password", new {@class = "form-label"})
            @Html.Password("verifyPassword", "",new {@class="form-control", @id="verifyPassword", @oninput= "doPasswordsMatch()" })
        </div>
        <br />
        <span>
            <input type="submit" value="Register" class="btn btn-primary" id="submitBtn" style="float: right; width: 120px;"/>
            <input type="reset" value="Login" class="btn btn-secondary" onclick="location.href = '/User/Login'" style="float: right; width: 120px; margin-right: 25px;" /> 
        </span>
    }
</div>