﻿<!DOCTYPE html>
<html style="overflow-y: scroll;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/CustomSiteStyle.css")
    @Scripts.Render("~/Scripts/modernizr")
    <style>
        .footer {
            position: fixed;
            bottom: inherit;
            width: 100%;
            background-color: #013CDF;
            margin-bottom: 0;
        }

        @@media (min-height: 1000px){
            .footer {
                bottom: 0;
            }
        }
    </style>
</head>
<body>
    <div style="background-color: #013CDF; color: white; text-align: center; ">
        <h1 style="margin: 0;">
            Quotes
        </h1>
    </div>
    <div style="background-color: #1654FE;">
        <div>
            <div class="navbar navbar-expand-lg">
                <ul class="navbar nav" style="margin-left: 16%; width: 68%;">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link", @style = "color: white;" })</li>
                    <li class="nav-item ">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link", @style = "color: white;" })</li>
                    @if (Session["user"] == null)
                    {
                        <li class="nav-item ">@Html.ActionLink("Register", "Registration", "User", null, new { @class = "nav-link", @style = "color: white;" })</li>
                        <li class="nav-item ">@Html.ActionLink("Login", "Login", "User", null, new { @class = "nav-link", @style = "color: white;" })</li>
                    }
                    else
                    {
                        <li class="nav-item ">@Html.ActionLink("Quotes", "ListQuotes", "Quote", null, new { @class = "nav-link", @style = "color: white;" })</li>
                        <li class="nav-item ">@Html.ActionLink("Create Quote", "CreateQuote", "Quote", null, new { @class = "nav-link", @style = "color: white;" })</li>
                        Quotes.Models.UserModel user = (Quotes.Models.UserModel)Session["user"];
                        <li class="nav-item" style="color: white;">Hello @user.Username</li>
                        using (Html.BeginForm("Logout", "User", FormMethod.Post))
                        {
                            <input class="nav-item" type="submit" value="Logout" style="width: 100px;" />
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="width: 100%;height: 85vh;">
        @RenderBody()


    </div>

    <div class="footer">
        <footer>
            <span style="text-align: center;">
                <p style="color: white; margin-top: 10px;">&copy; @DateTime.Now.Year - Quotes</p>
            </span>
        </footer>
    </div>

    @Scripts.Render("~/Scripts/jquery-3.4.1")
    @Scripts.Render("~/Scripts/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
