﻿.title {
    margin-top: 5%;
    margin-bottom: 1%;
    text-align: center;
    font-size: 48px;
}

.customNavItem {
    margin-right: 10%;
}

.viewQuoteLabel {
    font-size: 18px;
    font-weight: bold;
    width: 10%;
}

.customPrimaryBtn {
    float: right;
}


